body{
  font: 12px/1.5 'Microsoft Yahei';
  color: #161616;
  background-color: #fff;
}
body, html{
  min-width: 1280px;
  max-width: 1920px;
  margin: 0 auto;
}
a, b, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, img, input, label, li, ol, option, p, select, span, strong, table, td, textarea, tr, ul {
  padding: 0;
  margin: 0;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.grid{
  width: 1200px;
  margin: 0 auto;
}
.clearfix, .grid{
  zoom: 1;
}
.clearfix:before, .grid:before{
  height: 1px;
  margin-bottom: -1px;
  display: block;
  visibility: hidden;
  content: "";
}
.clearfix:after, .grid:after{
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
