.main-container{
  border-bottom: 1px solid #d5cc9b;
  background:url(../img/staff/bg.png) ;
  -webkit-background-size: 1.04167% auto;
  background-size: 1.04167% auto;
  overflow: hidden;
  position: relative;
}
.title-lay{
  position: relative;
  padding-top: 9.79167%;
  background: url(../img/staff/common-top-bg.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.title-lay .page-title{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.title-lay .page-title.gallery{
  background-image: url(../img/staff/gallery-title.png);
}
.video-wrap{
  margin: 0 auto;
  padding: 3.75% 0 3.33333%;
  width: 50.72917%;
  overflow: hidden
}
.video-wrap .video-box-wrap{
  float: left;
  position: relative;
  width: 47.22793%;
  padding-top: 26.69405%;
  margin-bottom: 6.3655%;
  margin-right: 4.10678%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.video-wrap .video-box-wrap:nth-child(2n){
  margin-right: 0
}
.video-wrap .video-box{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  cursor: pointer;
}
.video-wrap .video-border {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/gallery/video-box.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.video-wrap .video-box:hover .video-border {
  opacity: .8
}
.video-wrap .video-tit{
  position: absolute;
  top: 104.61538%;
  left: 0;
  margin-top: 1.71674%;
  width: 100%;
  padding-top: 4.50644%;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat
}
.video-wrap .video1 .video-box {
  background-image: url(../img/gallery/1.jpg);
}
.video-wrap .video1 .video-tit {
  background-image: url(../img/gallery/tit-1.png);
}
.video-wrap .video2 .video-box {
  background-image: url(../img/gallery/2.jpg);
}
.video-wrap .video2 .video-tit {
  background-image: url(../img/gallery/tit-2.png);
}
.video-wrap .video3 .video-box {
  background-image: url(../img/gallery/3.jpg);
}
.video-wrap .video3 .video-tit {
  background-image: url(../img/gallery/tit-3.png);
}
.video-wrap .video4 .video-box {
  background-image: url(../img/gallery/4.jpg);
}
.video-wrap .video4 .video-tit {
  background-image: url(../img/gallery/tit-4.png);
}
.video-wrap .video5 .video-box {
  background-image: url(../img/gallery/5.jpg);
}
.video-wrap .video5 .video-tit {
  background-image: url(../img/gallery/tit-5.png);
}
.video-wrap .video6 .video-box {
  background-image: url(../img/gallery/6.jpg);
}
.video-wrap .video6 .video-tit {
  background-image: url(../img/gallery/tit-6.png);
}
.video-wrap .video7 .video-box {
  background-image: url(../img/gallery/7.jpg);
}
.video-wrap .video7 .video-tit {
  background-image: url(../img/gallery/tit-7.png);
}
.video-wrap .video8 .video-box {
  background-image: url(../img/gallery/8.jpg);
}
.video-wrap .video8 .video-tit {
  background-image: url(../img/gallery/tit-8.png);
}
.video-wrap .video9 .video-box {
  background-image: url(../img/gallery/9.jpg);
}
.video-wrap .video9 .video-tit {
  background-image: url(../img/gallery/tit-9.png);
}
.video-wrap .video10 .video-box {
  background-image: url(../img/gallery/10.jpg);
}
.video-wrap .video10 .video-tit {
  background-image: url(../img/gallery/tit-10.png);
}
.video-wrap .video11 .video-box {
  background-image: url(../img/gallery/11.jpg);
}
.video-wrap .video11 .video-tit {
  background-image: url(../img/gallery/tit-11.png);
}
.video-wrap .video12 .video-box {
  background-image: url(../img/gallery/12.jpg);
}
.video-wrap .video12 .video-tit {
  background-image: url(../img/gallery/tit-12.png);
}
.video-wrap .video13 .video-box {
  background-image: url(../img/gallery/13.jpg);
}
.video-wrap .video13 .video-tit {
  background-image: url(../img/gallery/tit-13.png);
}
.video-wrap .video14 .video-box {
  background-image: url(../img/gallery/14.jpg);
}
.video-wrap .video14 .video-tit {
  background-image: url(../img/gallery/tit-14.png);
}
.video-wrap .video15 .video-box {
  background-image: url(../img/gallery/15.jpg);
}
.video-wrap .video15 .video-tit {
  background-image: url(../img/gallery/tit-15.png);
}
.video-wrap .video16 .video-box {
  background-image: url(../img/gallery/16.jpg);
}
.video-wrap .video16 .video-tit {
  background-image: url(../img/gallery/tit-16.png);
}
.video-wrap .video17 .video-box {
  background-image: url(../img/gallery/17.jpg);
}
.video-wrap .video17 .video-tit {
  background-image: url(../img/gallery/tit-17.png);
}
.video-wrap .video18 .video-box {
  background-image: url(../img/gallery/18.jpg);
}
.video-wrap .video18 .video-tit {
  background-image: url(../img/gallery/tit-18.png);
}
.video-wrap .video19 .video-box {
  background-image: url(../img/gallery/19.jpg);
}
.video-wrap .video19 .video-tit {
  background-image: url(../img/gallery/tit-19.png);
}
.video-wrap .video20 .video-box {
  background-image: url(../img/gallery/20.jpg);
}
.video-wrap .video20 .video-tit {
  background-image: url(../img/gallery/tit-20.png);
}
.video-wrap .video21 .video-box {
  background-image: url(../img/gallery/21.jpg);
}
.video-wrap .video21 .video-tit {
  background-image: url(../img/gallery/tit-21.png);
}
.video-wrap .video22 .video-box {
  background-image: url(../img/gallery/22.jpg);
}
.video-wrap .video22 .video-tit {
  background-image: url(../img/gallery/tit-22.png);
}
.video-wrap .video23 .video-box {
  background-image: url(../img/gallery/23.jpg);
}
.video-wrap .video23 .video-tit {
  background-image: url(../img/gallery/tit-23.png);
}
.video-wrap .video24 .video-box {
  background-image: url(../img/gallery/24.jpg);
}
.video-wrap .video24 .video-tit {
  background-image: url(../img/gallery/tit-24.png);
}
