.nav{
  position: relative;
  padding-top: 3.59375%;
  background: url(../img/fgo_index/nav-bg.jpg) no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.nav .nav-item{
  display: block;
  position: absolute;
  transition: opacity .2s
}
.nav .nav-item:hover{
  opacity: .6;
  text-decoration: none
}
.nav .nav-item img{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.nav .nav-item.home{
  top: 14.49275%;
  left: 19.53125%;
  width: 5.36458%;
  padding-top: 2.44792%
}
.nav .nav-item.news{
  top: 28.98551%;
  left: 26.97917%;
  width: 4.73958%;
  padding-top: 1.71875%
}
.nav .nav-item.world{
  top: 28.98551%;
  left: 33.38542%;
  width: 5.52083%;
  padding-top: 1.71875%
}
.nav .nav-item.servant{
  top: 28.98551%;
  left: 40.46875%;
  width: 4.6875%;
  padding-top: 1.71875%
}
.nav .nav-item.htp{
  top: 28.98551%;
  left: 46.71875%;
  width: 4.89583%;
  padding-top: 1.82292%
}
.nav .nav-item.gallery{
  top: 28.98551%;
  left: 53.125%;
  width: 5.52083%;
  padding-top: 1.82292%
}
.nav .nav-item.staff{
  top: 28.98551%;
  left: 60.20833%;
  width: 4.6875%;
  padding-top: 1.71875%
}
.nav .nav-item.sns{
  top: 28.98551%;
  left: 66.25%;
  width: 4.6875%;
  padding-top: 1.71875%
}
.nav .nav-item.sns:hover{
  opacity: 1
}
.nav .sns-wrap{
  position: absolute;
  top: 28.98551%;
  left: 72.29167%;
  width: 8.75%;
  padding-top: 1.66667%;
}
.nav .sns-icon{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 19.04762%;
  height: 100%;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  cursor: pointer;
}
.nav .sns-icon .icon-bg{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  background-size: 100% auto;
  opacity: 1;
}
.nav .sns-icon .icon-bg:hover{
  opacity: .7;
}
.nav .sns-icon .sns-detail{
  display: none;
  animation: fadeIn .2s forwards;
}
.nav .sns-icon:hover .sns-detail{
  display: block;
}
.nav .sns-detail h5{
  color: #fff;
  font-size: 16px;
  font-weight: initial;
  margin-bottom: 8px;
  line-height: 20px;
}
.nav .sns-detail p{
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.nav .sns-icon.qq .icon-bg{
  background-image: url(../img/fgo_index/icon-qq.png);
}
.nav .sns-icon.weixin .icon-bg{
  background-image: url(../img/fgo_index/icon-we.png);
}
.nav .sns-icon.weixin{
  left: 23.21429%;
}
.nav .weixin .sns-detail{
  position: absolute;
  right: -44px;
  top: 100%;
  z-index: 2;
  padding-top: 20px;
  width: 194px;
  height: 98px;
  background-size: contain;
  background: url(../img/fgo_index/we-bg.png) no-repeat center bottom;
  text-align: left;
  box-sizing: border-box;
}
.nav .weixin .sns-detail h5{
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav .weixin .sns-detail img{
  float: left;
  margin-right: 6px;
  margin-left: 10px;
}
.nav .sns-icon.weibo{
  left: 46.42857%;
  background-image: url(../img/fgo_index/icon-weibo.png);
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.nav .weixin .sns-detail p{
  line-height: 18px;
}
.nav .sns-icon.bili{
  left: 69.64286%;
  background-image: url(../img/fgo_index/icon-bili.png);
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.nav a.sns-icon:hover{
  opacity: .7;
}