.hover {
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.main-container{
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #d5cc9b;
  background: url(../img/servant/bg.png);
  -webkit-background-size: 1.04167% auto;
  background-size: 1.04167% auto;
  overflow: hidden;
}
.title-lay{
  position: relative;
  padding-top: 9.79167%;
  background: url(../img/staff/common-top-bg.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.title-lay .page-title{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.title-lay .page-title.servant{
  background-image: url(../img/servant/servant-title.png);
}
.title-lay .title-slice{
  border-top: 1px solid #ede6ba;
  border-bottom: 1px solid #7b828a;
}
.roles-container{
  position: relative;
  padding-top: 57.60417%;
}
.roles-container .roles-tags{
  position: absolute;
  z-index: 4;
  top: 3.72439%;
  left: 21.875%;
  width: 55.9375%;
  padding-top: 2.1875%;
}
.roles-tags .role-tag{
  position: absolute;
  top: 0;
  margin-right: .46555%;
  width: 12.10428%;
  height: 100%;
  background-image: url(../img/servant/jobs.png);
  background-size: auto 200%;
  transition: opacity .2s;
  cursor: pointer;
}
.roles-tags .role-tag:hover{
  opacity: .75;
}
.roles-tags .role-tag.on{
  background-position-y: 100%;
}
.roles-tags .role-tag.saber{
  left: 0;
  background-position-x: 0;
}
.roles-tags .role-tag.archer{
  left: 12.56983%;
  background-position-x: 14%;
}
.roles-tags .role-tag.lancer{
  left: 25.13966%;
  background-position-x: 28.5%;
}
.roles-tags .role-tag.rider{
  left: 37.7095%;
  background-position-x: 42.5%;
}
.roles-tags .role-tag.caster{
  left: 50.27933%;
  background-position-x: 57%;
}
.roles-tags .role-tag.assassin{
  left: 62.84916%;
  background-position-x: 71.5%;
}
.roles-tags .role-tag.berserker{
  left: 75.41899%;
  background-position-x: 85.5%;
}
.roles-tags .role-tag.extra{
  left: 87.98883%;
  background-position-x: 100%;
}
.swiper-common-wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  
}
.swiper-common-wrap .swiper-container{
  position: relative;
  display: block;
  opacity: 0;
  margin: 0 auto;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-common-wrap .swiper-container.on{
  opacity: 1;
}
.swiper-common-wrap .swiper-common{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: 55%;
}
/* 各职介横幅背景 */
.swiper-common-wrap .saber-swiper.on {
  background-image: url(../img/servant/saber-bg.png);
}
.swiper-common-wrap .archer-swiper.on {
  background-image: url(../img/servant/archer-bg.png);
}
.swiper-common-wrap .lancer-swiper.on {
  background-image: url(../img/servant/lancer-bg.png);
}
.swiper-common-wrap .rider-swiper.on {
  background-image: url(../img/servant/rider-bg.png);
}
.swiper-common-wrap .caster-swiper.on {
  background-image: url(../img/servant/caster-bg.png);
}
.swiper-common-wrap .assassin-swiper.on {
  background-image: url(../img/servant/assassin-bg.png);
}
.swiper-common-wrap .berserker-swiper.on {
  background-image: url(../img/servant/berserker-bg.png);
}
.swiper-common-wrap .extra-swiper.on {
  background-image: url(../img/servant/extra-bg.png);
}

.swiper-container .swiper-wrapper{
  width: 6400px;
  height: 737.328px;
  /* transition-duration: 0.3s; */
  box-sizing: content-box;
  transition-property: transform,left,top;
}

.swiper-common-wrap .swiper-slide{
  float: left;
  box-sizing: content-box;
  width: 1280px;
  height: 737.328px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
/*各职介图片*/
.swiper-common-wrap .saber-swiper .swiper-slide.s1{
  background-image: url(../img/servant/saber-1.png);
}
.swiper-common-wrap .saber-swiper .swiper-slide.s2{
  background-image: url(../img/servant/saber-2.png);
}
.swiper-common-wrap .saber-swiper .swiper-slide.s3{
  background-image: url(../img/servant/saber-3.png);
}
.swiper-common-wrap .archer-swiper .swiper-slide.s1{
  background-image: url(../img/servant/archer-1.png);
}
.swiper-common-wrap .archer-swiper .swiper-slide.s2{
  background-image: url(../img/servant/archer-2.png);
}
.swiper-common-wrap .archer-swiper .swiper-slide.s3{
  background-image: url(../img/servant/archer-3.png);
}
.swiper-common-wrap .lancer-swiper .swiper-slide.s1{
  background-image: url(../img/servant/lancer-1.png);
}
.swiper-common-wrap .lancer-swiper .swiper-slide.s2{
  background-image: url(../img/servant/lancer-2.png);
}
.swiper-common-wrap .lancer-swiper .swiper-slide.s3{
  background-image: url(../img/servant/lancer-3.png);
}
.swiper-common-wrap .rider-swiper .swiper-slide.s1{
  background-image: url(../img/servant/rider-1.png);
}
.swiper-common-wrap .rider-swiper .swiper-slide.s2{
  background-image: url(../img/servant/rider-2.png);
}
.swiper-common-wrap .rider-swiper .swiper-slide.s3{
  background-image: url(../img/servant/rider-3.png);
}
.swiper-common-wrap .caster-swiper .swiper-slide.s1{
  background-image: url(../img/servant/caster-1.png);
}
.swiper-common-wrap .caster-swiper .swiper-slide.s2{
  background-image: url(../img/servant/caster-2.png);
}
.swiper-common-wrap .caster-swiper .swiper-slide.s3{
  background-image: url(../img/servant/caster-3.png);
}
.swiper-common-wrap .assassin-swiper .swiper-slide.s1{
  background-image: url(../img/servant/assassin-1.png);
}
.swiper-common-wrap .assassin-swiper .swiper-slide.s2{
  background-image: url(../img/servant/assassin-2.png);
}
.swiper-common-wrap .assassin-swiper .swiper-slide.s3{
  background-image: url(../img/servant/assassin-3.png);
}
.swiper-common-wrap .berserker-swiper .swiper-slide.s1{
  background-image: url(../img/servant/berserker-1.png);
}
.swiper-common-wrap .berserker-swiper .swiper-slide.s2{
  background-image: url(../img/servant/berserker-2.png);
}
.swiper-common-wrap .berserker-swiper .swiper-slide.s3{
  background-image: url(../img/servant/berserker-3.png);
}
.swiper-common-wrap .extra-swiper .swiper-slide.s1{
  background-image: url(../img/servant/extra-1.png);
}
.swiper-common-wrap .extra-swiper .swiper-slide.s2{
  background-image: url(../img/servant/extra-2.png);
}
.swiper-common-wrap .extra-swiper .swiper-slide.s3{
  background-image: url(../img/servant/extra-3.png);
}


/*头像共有属性*/
.roles-s-tags{
  position: absolute;
  z-index: 3;
  top: 16.99819%;
  left: 21.875%;
  width: 15.625%;
  padding-top: 5.20833%;
}
.roles-s-tags .roles-s-box{
  position: absolute;
  z-index: 3;
  top: 0;
  width: 33.33333%;
  padding-top: 33.33333%;
  background-size: 100% 100%;
  cursor: pointer;
}
.roles-s-tags .roles-s-box.on{
  cursor: default;
}
/*头像定位*/
.roles-s-tags .roles-s-box:nth-child(1){
  left: 0;
}
.roles-s-tags .roles-s-box:nth-child(2){
  left: 33.33333%;
}
.roles-s-tags .roles-s-box:nth-child(3){
  left: 66.66667%;
}
/*头像阴影*/
.roles-s-tags .roles-s-box .shadow{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b1e17;
  opacity: .5;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/*鼠标悬停阴影减少*/
.roles-s-tags .roles-s-box:hover .shadow{
  opacity: .3;
}
/*选中状态取消阴影*/
.roles-s-tags .roles-s-box.on .shadow {
  opacity: 0;
}
/*头像边框*/
.roles-s-tags .roles-s-box .border {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/servant/servant-kuang.png") no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

/*不同职介头像*/
.roles-s-tags.saber .roles-s-box:nth-child(1){
  background-image: url("../img/servant/saber-s-1.png")
}
.roles-s-tags.saber .roles-s-box:nth-child(2){
  background-image: url("../img/servant/saber-s-2.png")
}
.roles-s-tags.saber .roles-s-box:nth-child(3){
  background-image: url("../img/servant/saber-s-3.png")
}
.roles-s-tags.archer .roles-s-box:nth-child(1){
  background-image: url("../img/servant/archer-s-1.png")
}
.roles-s-tags.archer .roles-s-box:nth-child(2){
  background-image: url("../img/servant/archer-s-2.png")
}
.roles-s-tags.archer .roles-s-box:nth-child(3){
  background-image: url("../img/servant/archer-s-3.png")
}
.roles-s-tags.lancer .roles-s-box:nth-child(1){
  background-image: url("../img/servant/lancer-s-1.png")
}
.roles-s-tags.lancer .roles-s-box:nth-child(2){
  background-image: url("../img/servant/lancer-s-2.png")
}
.roles-s-tags.lancer .roles-s-box:nth-child(3){
  background-image: url("../img/servant/lancer-s-3.png")
}
.roles-s-tags.rider .roles-s-box:nth-child(1){
  background-image: url("../img/servant/rider-s-1.png")
}
.roles-s-tags.rider .roles-s-box:nth-child(2){
  background-image: url("../img/servant/rider-s-2.png")
}
.roles-s-tags.rider .roles-s-box:nth-child(3){
  background-image: url("../img/servant/rider-s-3.png")
}
.roles-s-tags.caster .roles-s-box:nth-child(1){
  background-image: url("../img/servant/caster-s-1.png")
}
.roles-s-tags.caster .roles-s-box:nth-child(2){
  background-image: url("../img/servant/caster-s-2.png")
}
.roles-s-tags.caster .roles-s-box:nth-child(3){
  background-image: url("../img/servant/caster-s-3.png")
}
.roles-s-tags.assassin .roles-s-box:nth-child(1){
  background-image: url("../img/servant/assassin-s-1.png")
}
.roles-s-tags.assassin .roles-s-box:nth-child(2){
  background-image: url("../img/servant/assassin-s-2.png")
}
.roles-s-tags.assassin .roles-s-box:nth-child(3){
  background-image: url("../img/servant/assassin-s-3.png")
}
.roles-s-tags.berserker .roles-s-box:nth-child(1){
  background-image: url("../img/servant/berserker-s-1.png")
}
.roles-s-tags.berserker .roles-s-box:nth-child(2){
  background-image: url("../img/servant/berserker-s-2.png")
}
.roles-s-tags.berserker .roles-s-box:nth-child(3){
  background-image: url("../img/servant/berserker-s-3.png")
}
.roles-s-tags.extra .roles-s-box:nth-child(1){
  background-image: url("../img/servant/extra-s-1.png")
}
.roles-s-tags.extra .roles-s-box:nth-child(2){
  background-image: url("../img/servant/extra-s-2.png")
}
.roles-s-tags.extra .roles-s-box:nth-child(3){
  background-image: url("../img/servant/extra-s-3.png")
}

/*左右箭头切换按钮*/
.arr{
  position: absolute;
  z-index: 3;
  top: 34.62929%;
  width: 3.64583%;
  padding-top: 3.64583%;
  background: url("../img/servant/arr.png") no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  cursor: pointer;
}
.arr:hover{
  opacity: .8;
}
.arr.left-arr {
  left: 0;
}
.arr.right-arr {
  right: 0;
  -webkit-transform: rotate(180deg);/*左箭头翻转为右箭头*/
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*左下角水印*/
.job-tit {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 50%;
  padding-top: 8.02083%;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
/*不同职介水印*/
.job-tit.saber{
  background-image: url("../img/servant/saber-tit.png");
}
.job-tit.archer{
  background-image: url("../img/servant/archer-tit.png");
}
.job-tit.lancer{
  background-image: url("../img/servant/lancer-tit.png");
}
.job-tit.rider{
  background-image: url("../img/servant/rider-tit.png");
}
.job-tit.caster{
  background-image: url("../img/servant/caster-tit.png");
}
.job-tit.assassin{
  background-image: url("../img/servant/assassin-tit.png");
}
.job-tit.berserker{
  background-image: url("../img/servant/berserker-tit.png");
}
.job-tit.extra{
  background-image: url("../img/servant/extra-tit.png");
}
.job-tit.ruler{
  background-image: url("../img/servant/ruler-tit.png");
}
.job-tit.avenger{
  background-image: url("../img/servant/avenger-tit.png");
}